:root {

    --highlightColour: #3E4B8E;
    --secondaryColour: #FF9900;
    --mutedColour: #7F7F7F;
    --primaryFont: Arial;
    --smallMargin: 5px;
}

body {

    font-family: var(--primaryFont), Helvetica, sans-serif;
   
}

a {

    color: var(--secondaryColour);

}

@media (min-width: 768px){

    .desktop-align-bottom {
        line-height:1;
        align-items: baseline !important;
        margin-top:var(--smallMargin);
    }

    #dark-mode{

        margin-bottom:var(--smallMargin);
    
    }

}

.navbar-brand {

    color: var(--highlightColour);
    font-weight: 800;
    font-style: italic;

}

.custom-navbar-brand {
    display: inline-block;
    vertical-align: bottom;
  }

.navbar-brand:hover {

    color: var(--highlightColour);
    cursor: pointer;

}

.nav-item{

    font-style: italic;
    font-weight: 600;

}

.nav-link .active{
    
    font-weight: 600 !important;

}

.nav-link{

    color:var(--mutedColour);

}

.nav-link:hover, .nav:active{

    color:black

}

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {

    color: var(--highlightColour);
    font-weight: 600;  
    margin-top:2rem; 

}


h3{

    color: black;

}

.muted{

    color:var(--mutedColour)

}

.dev-icon{

    height:1.5rem;
    width:1.5rem;

}

.list-items-spaced li{

    margin-bottom:0.5rem;

}

.list-items-spaced-none li{

    margin-bottom:0;

}

.list-style-type-circle::before {
    content: "•"; /* Unicode for bullet point */
    margin-right: 0.5em; /* Adjust spacing as needed */
}

.w-content{

    width:fit-content;

}